:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: left;
    font: normal normal 300 32px/37px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-primary);
    opacity: 1;
    cursor: pointer;
}

.nav__list {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 70px;
}

.nav__link {
    color: var(--color-grey);
    text-decoration: none;
    padding: 28px 18px 22px;
}

.nav__link:hover {
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-black);
}

/* stylowanie sekcji openning */
.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__title {
    text-align: center;
    font: normal normal normal 49px/57px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 130px;
}

.opening__text {
    text-align: center;
    font: normal normal normal 16px/22px var(--font-open-sans);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 38px;
}

.opening__button {
    background: var(--color-primary) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    opacity: 1;
    border: none;
}

.opening__button__text {
    padding: 22px 157px;
    text-align: center;
    font: normal normal bold 16px/22px var(--font-open-sans);
    letter-spacing: 0;
    color: var(--color-white);
    opacity: 1;
}

.opening__img {
    height: auto;
    width: 100%;
}

/* stylowanie sekcji statystyki */
.stats__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font: normal normal normal 36px/42px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.stats__content {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.stats__box__title {
    text-align: center;
    font: normal normal 800 20px/24px var(--font-raleway);
    letter-spacing: 5.96px;
    color: var(--color-black);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 19px;
}

.stats__box__text {
    text-align: center;
    font: normal normal normal 16px/19px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-grey);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.stats__img {
    position: absolute;
}

.stats__circle {
    height: 63px;
    width: 63px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.stats__box:first-child .stats__circle {
    background-color: var(--color-redish);
    left: 21px;
}

.stats__box:first-child .stats__img {
    left: 45%;
    top: 0;
}

.stats__box:nth-child(2) .stats__circle {
    background-color: var(--color-primary);
    left: 28px;
}

.stats__box:nth-child(2) .stats__img {
    top: 14px;
    left: 30%;
}

.stats__box:last-child .stats__circle {
    background-color: var(--color-green);
    left: 15px;
}

.stats__box:last-child .stats__img {
    top: 8px;
    left: 45%;
}

/* benefits style */
.benefits__background {
    margin: 0 auto;
    background-color: var(--color-light-grey);
    height: 100%;
    padding-bottom: 105px;
}

.benefits__box {
    height: 370px;
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits__container1 {
    padding-top: 100px;
}

.benefits__container2 {
    display: flex;
    gap: 60px;
}

.benefits__container2__box1 {
    width: 804px;
}

.benefits__container2__box2 {
    background-color: #55DFB4;
    width: 548px;
}

.benefits__box__1 {
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.benefits__title {
    text-align: left;
    font: normal normal normal 36px/42px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-bottom: 30px;
}

.benefits__text {
    text-align: left;
    font: normal normal normal 16px/22px var(--font-open-sans);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: red;
    display: block;
    margin-top: 50px;
}

.notebook__img {
    height: 219px;
    width: 386px;
    margin-right: 117px;
    margin-top: 113px;
    margin-bottom: 38px;
    z-index: 1;
    position: relative;

}

.kwadrat {
    width: 180px;
    height: 180px;
    z-index: 0;
    position: absolute;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--color-redish) 0 0 no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    margin-top: 60px;
    margin-left: 200px;
}

.benefits__box__2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.benefits__box__21 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 69px;
    margin-right: 30px;
}

.phone__img {
    width: 426px;
    height: 328px;
    margin-left: 70px;
    position: relative;
    z-index: 1;

}

.kółko {
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    margin-top: -350px;
    margin-left: 70px;
}

.megafon {
    width: 296px;
    height: 208px;
    margin-top: 90px;
}

.benefits__container2__box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits__last__text {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    margin-left: 35px;
}

/* stylowanie sekcji pricing */
.prices__title {
    text-align: center;
    font: normal normal normal 36px/42px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 100px;
    padding-bottom: 50px;
}

.prices__box__1,
.prices__box__3 {
    width: 372px;
    height: 468px;
    background: var(--color-white) 0 0 no-repeat padding-box;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    opacity: 1;
    margin-top: 11px;
}
.prices__box__2 {
    width: 405px;
    height: 500px;
    background: var(--color-white) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    border: 1px solid var(--color-primary);
    border-radius: 18px;
    opacity: 1;
}
.prices__box__3 {
    border: 1px solid var(--color-green);
}
.prices__content {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.prices__box__title {
    text-align: left;
    font: normal normal bold 21px/1px var(--font-raleway);
    letter-spacing: 0;
    color: #13253B;
    opacity: 1;
    display: flex;
    justify-content: center;
    padding-top: 34px;
}
.prices__box__price {
    text-align: left;
    font: normal normal 300 46px/2px var(--font-open-sans);
    letter-spacing: 0;
    color: #07ACE6;
    opacity: 1;
    display: flex;
    justify-content: center;
    padding-top: 73px;
}
.price__1 {
    color: var(--color-redish);
    padding-bottom: 90px;
}
.price__3 {
    color: var(--color-green);
}
.limited__ofer {
    text-align: left;
    font: normal normal bold 12px/1px var(--font-raleway);
    letter-spacing: 0;
    color: #13253B;
    opacity: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 61px;
}
.limited__ofer__3 {
    padding-bottom: 50px;
}
.prices__package__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.non__accept__icon {
    list-style-image: url("/Zasoby_do_projektu/images/Close.svg");
    padding-bottom: 25px;
}
.accept__icon {
    list-style-image: url("/Zasoby_do_projektu/images/Zielona-fajka.svg");
    padding-bottom: 25px;
}
.prices__box__button {
    background: #07ACE6 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    opacity: 1;
    color: var(--color-white);
    padding: 16px 57px;
    border: none;
    margin-top: 55px;
}
.align__buttons__prices {
    display: flex;
    justify-content: center;
}
.prices__box__button__1 {
    background-color: var(--color-redish);
    margin-top: 35px;
}
.prices__box__button__3 {
    background-color: var(--color-green);
    margin-top: 35px;
}