:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: left;
    font: normal normal 300 32px/37px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-primary);
    opacity: 1;
    cursor: pointer;
}

.nav__list {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 70px;
}

.nav__link {
    color: var(--color-grey);
    text-decoration: none;
    padding: 28px 18px 22px;
}

.nav__link:hover {
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-black);
}

/* stylowanie sekcji openning */
.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__title {
    text-align: center;
    font: normal normal normal 49px/57px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 130px;
}

.opening__text {
    text-align: center;
    font: normal normal normal 16px/22px var(--font-open-sans);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 38px;
}

.opening__button {
    background: var(--color-primary) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    opacity: 1;
    border: none;
}

.opening__button__text {
    padding: 22px 157px;
    text-align: center;
    font: normal normal bold 16px/22px var(--font-open-sans);
    letter-spacing: 0;
    color: var(--color-white);
    opacity: 1;
}

.opening__img {
    height: auto;
    width: 100%;
}

/* stylowanie sekcji statystyki */
.stats__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font: normal normal normal 36px/42px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.stats__content {
    display: flex;
    justify-content: space-evenly;
}

.stats__box__title {
    text-align: center;
    font: normal normal 800 20px/24px var(--font-raleway);
    letter-spacing: 5.96px;
    color: var(--color-black);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 19px;
}

.stats__box__text {
    text-align: center;
    font: normal normal normal 16px/19px var(--font-raleway);
    letter-spacing: 0;
    color: var(--color-grey);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.stats__img {
    position: absolute;
}

.stats__circle {
    height: 63px;
    width: 63px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.stats__box:first-child .stats__circle {
    background-color: var(--color-redish);
    left: 21px;
}

.stats__box:first-child .stats__img {
    left: 45%;
    top: 0;
}

.stats__box:nth-child(2) .stats__circle {
    background-color: var(--color-primary);
    left: 28px;
}

.stats__box:nth-child(2) .stats__img {
    top: 14px;
    left: 30%;
}

.stats__box:last-child .stats__circle {
    background-color: var(--color-green);
    left: 15px;
}

.stats__box:last-child .stats__img {
    top: 8px;
    left: 45%;
}